<app-spinner></app-spinner>

<div class="flex flex-col">
    <div class="card"
        style="background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%)">
        <div style="color: whitesmoke" class="font-semibold text-2xl mb-3">Registo de Trabalho Efetuado</div>
        <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>
</div>



<p-fluid>
    <form [formGroup]="newTrabalhoEfetuadoForm" (ngSubmit)="add($event)" autocomplete="off">
        <div class="flex mt-8" >
            <div class="card flex flex-col gap-6 w-full">

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-1/2">
                        <label for="description">Trabalho Efetuado</label>
                        <input pInputText id="description" type="text" formControlName="description"/>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-2">
                    <div class="flex flex-wrap gap-2 w-full">
                        <p-button [disabled]="!newTrabalhoEfetuadoForm.valid" type="submit" label="Guardar" severity="secondary" raised />
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-fluid>
